* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(243, 244, 246);
  font-family: "Poppins", sans-serif;
}

:root {
  
  --primary: #00ba7c;
  --light-primary: #16e9a2;
  --text: #f7f9f9;
  --light-text: #5b6773;
  --hover: #1c2732;
  --bg: #15202b;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: button;
  text-transform: none;
  cursor: pointer;
}
