.devit_container{
    display: flex;
    border-bottom: 1px solid var(--light-text);
    height: fit-content;
    padding:1rem ;
    gap: 1rem;
}
.left{
    /* border: 2px solid var(--primary); */
    border-radius: 50%;
}
.right{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
.bottom_part{
    display: flex;
    justify-content: space-between;
}
.icon_con{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.tooltip{
    background-color: var(--bg);
    border-radius: 2px;
    color: var(--text);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}