.navbar_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    height:4.5rem;
    border: 1px solid blue;
}
.left{
    display: flex;
    /* border: 1px solid red; */
}
.logo_con{
    display: flex;
    align-items: center;
    border: 1px solid red;
    gap: 0.5rem;
    font-size: 2rem;
    font-family: "Rajdhani", sans-serif;
}
